@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;900&family=Pixelify+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --black: #000000;
  --lightblack: #303030;
  --white: #ffffff;
  --mainFont: "Inter", sans-serif;
  --funFont: "Pixelify Sans", sans-serif;
  --mainPaddingX: 16.5rem;
}

h1 {
  font-size: 20rem;
  line-height: 15rem;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 5.6rem;
  line-height: 6.8rem;
}

h3 {
  font-size: 2.4rem;
  line-height: 2.8rem;
  letter-spacing: -0.48px;
}

h4 {
  font-size: 2rem;
  line-height: 2.8rem;
  letter-spacing: 0.4rem;
}

h5 {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

p {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.small {
  font-size: 1.5rem;
  line-height: 2.8rem;
  letter-spacing: -0.3px;
}

.thin {
  font-weight: 200;
}

@media screen and (max-width: 1050px) {
  * {
    --mainPaddingX: 6.4rem;
  }

  h1 {
    font-size: 17.5rem;
    line-height: 17.5rem;
  }
}

@media screen and (max-width: 550px) {
  * {
    --mainPaddingX: 2.6rem;
  }

  h1 {
    font-size: 10rem;
    line-height: 10rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2rem;
  }
}
